@import "bootstrap";

// header
.navbar-brand {
  background: image-url("logo.png") no-repeat center;
  background-size: contain;
  height: 40px;
  width: 150px;
}

//pagination
.pagination>li>a {
  border: none;
  color: #696969;
}
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 5px;
}
.pagination>li>a:hover {
  border-radius: 5px;
}

//sign_in,sign_upページ
.devise_block {
  width: 30%;
  margin: 30px auto;
  border: medium solid #CCC;
  h3 {
    margin: 30px 0;
    text-align: center;
  }
  .field {
    margin: 15px 0;
    text-align: center;
    .enter-field {
      border: thin solid gray;
      border-radius: 5px;
      background-color: #DDDDDD;
    }
    em {
      font-size: small;
    }
  }
  .actions {
    margin: 30px 0;
    text-align: center;
  }
  .sign-up-button {
    width: 40ex;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #FE595F;
  }
  .button-area {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    em {
      font-size: small;
    }
  }
  .sign-in-button {
    width: 40ex;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
  .foget-password {
    text-align: center;
    margin-bottom: 20px;
  }
}

// topページ
.top-backimage {
  background-image: image-url("top-backimage.jpg");
  background-size:  cover;
}
.bg-mask {
  height: 100%;
  background: rgba(255,255,255,0.2);
}
.video {
  position: relative;
  header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background: rgba(255,255,255,0.4);
  }
  .alert {
    position: absolute;
    top: 55px;
    width: 100%;
    z-index: 1;
  }
}

//sidebar部分
.side-profile {
  margin: 50px auto;
  td {
    width: 100px;
  }
}
.profile_image {
  border-radius: 50%;
  object-fit: cover;
}

//recruitments/new・editページ
.new-edit-recruit {
  margin: 50px auto;
  .title {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .btn {
    margin-top: 30px;
  }
}

//recruitmentsページ
.index-recruit {
  margin: 50px auto;
  .index-top {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    h3 {
      margin-right: auto;
    }
  }
}
.recruit-records {
  list-style: none;
  padding: 0;
  .recruit-record {
    padding: 7px 0;
    position: relative;
    .triangle{
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 130px 90px 0;
      border-color: transparent #FFDBC9 transparent transparent;
      line-height: 0px;
      _border-color: #000000 #FFDBC9 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      opacity: .5;
    }
    .days-left {
      position: absolute;
      right: 3px;
      text-align: right;
      p {
        color: #FF0000;
      }
    }
  }
}
.recruit-records > li {
  width: 100%;
  border-top: thin solid gray;
  .title {
    color: black;
    font-weight: bold;
  }
  .profile_image {
    border-radius: 50%;
    object-fit: cover;
  }
  .block {
    display: flex;
    flex-wrap: wrap;
    p {
      margin: 5px 5px 0 5px;
      border: thin solid gray;
      border-radius: 5px;
      color: #444444;
    }
    .spacer {
      width: 100%;
    }
  }
}
.recruit-records > li:last-child {
  border-bottom: thin solid gray;
}

.page {
  margin-top: 20px;
  display: flex;
	justify-content: center;
	align-items: center;
}

//recruitments/idページ
.show-recruit {
  margin: 50px auto;
  .recruit-end {
    h3 {
      background: #FF4F50;
      color: white;
    }
  }
  .show-top {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    h3 {
      margin-right: auto;
    }
    .edit-btn {
      margin-right: 30px;
    }
  }
  .table {
    height: 35vh;
  }
  th {
    width:180px;
  }
  .table td {
    word-break : break-all;
  }
  .btn-primary {
    margin-top: 30px;
  }
}

//blogs/new・editページ
.new-edit-blog {
  margin: 50px auto;
  .title {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .btn {
    margin-top: 30px;
  }
}

//blogsページ
.index-blog {
  margin: 50px auto;
  .index-top {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    h3 {
      margin-right: auto;
    }
  }
}

.blog-records {
  list-style: none;
  padding: 0;
  .blog-record {
    padding: 7px 0;
  }
}
.blog-records > li {
  width: 100%;
  border-top: thin solid gray;
  .title {
    color: black;
    font-weight: bold;
  }
  .profile_image {
    border-radius: 50%;
    object-fit: cover;
  }
  .block {
    display: flex;
    p {
      margin: 5px 5px 0 5px;
      border: thin solid gray;
      border-radius: 5px;
      color: #444444;
    }
  }
}
.blog-records > li:last-child {
  border-bottom: thin solid gray;
}
.page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//blogs/idページ
.show-blog {
  margin: 50px auto;
  .show-top {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    h3 {
      margin-right: auto;
    }
    .edit-btn {
      margin-right: 30px;
    }
  }
  .table th {
    width:120px;
  }
  .table td {
    word-break : break-all;
  }
  .profile_image {
    border-radius: 50%;
    object-fit: cover;
  }
  .like {
    margin-top: 60px;
    text-align: left;
    span {
      margin: 0 50px;
    }
  }
  .new-comment {
    margin-top: 5px;
    text-align: center;
    .btn {
      margin-top: 10px;
    }
  }
  .comments {
    margin: 30px 0;
    td:nth-child(1) {
      width: 20%;
    }
    td:nth-child(2) {
      width: 60%;
    }
    td:nth-child(3) {
      width: 20%;
    }
  }
}

//user/idページ
.profile {
  margin: 50px auto;
  .image-btns {
    text-align: left;
    position: relative;
    height: 100px;
    .profile_image {
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      left: 70px;
    }
    .profile-edit-btn {
      position: absolute;
      top: 20px;
      right: 70px;
    }
    .chat-btn {
      position: absolute;
      top: 20px;
      right: 250px;
    }
  }
  .table {
    margin-top: 30px;
  }
  .table th {
    width: 130px;
  }
}
.follow-btn {
  position: absolute;
  top: 20px;
  right: 70px;
}
.tab-field {
  margin: 0 auto 50px auto;
  padding: 0;
  border: thin solid #ccc;
  .tab-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    padding: 0;
    .tab {
      width: 100%;
      padding: 10px;
      cursor: pointer;
      border-left: solid 1px #CCC;
      border-bottom: solid 1px #CCC;
    }
    .tab:first-child {
      border-left: none;
    }
    .tab-active {
      color: #FFF;
      background: #19b5d1;
      transition: all 0.5s ease-in-out;
    }
  }
  .tabbox {
    display: none;
    padding: 15px;
  }
  .box-show {
    display: block;
  }
}

//user/editページ
.user-edit {
  margin: 50px auto;
  .title {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .btn {
    margin-top: 30px;
  }
}

//rooms/:idページ
.partner-name {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: #66FF99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-area {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  text-align: right;
  font-size: 14px;
  oveflow: hidden;
  overflow-y: scroll;
}
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 50%;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
  word-break: break-all;
  text-align-last: left;
}
.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.fukidasi {
  margin: 15px 0;
}
.fukidasi .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}
.fukidasi .faceicon img{
  width: 90%;
  height: auto;
}
.fukidasi .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 50%;
  border-radius: 12px;
  background: #edf1ee;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
}
.message-form {
  margin-top: 30px;
  position: relative;
  .field {
    width: 80%;
    display: inline-block;
    margin-right: 10px;
  }
  .button {
    display: inline-block;
    position: absolute;
    bottom: 30px;
  }
}